@media only screen and (max-width: 768px){
  header {
    justify-content:center;
    }
  h1,h4 {
    display: none;
  } 
}

  h2 {
    font-style: oblique;
    padding: 20px;
}
   
 .nav-item {
    width: 100%;
  }
 
  .container {
  padding: 80px 120px;
}

  .carousel-inner img {
  width: 100%;  
  margin: auto;
}

 .carousel-caption h3 {
  color: #fff !important;
}
